<!-- *** FOOTER ***
_________________________________________________________ -->

<footer id="footer">
    <div class="container">
        <div class="col-md-3 col-sm-6">
            <h4>About us</h4>

            <p>We are dedicated to promoting STEM education to the youth of Franklin County, Maine through the fun of robotics.</p>
<!--
            <hr>

            <h4>Join our monthly newsletter</h4>

            <form>
                <div class="input-group">

                    <input type="text" class="form-control">

                    <span class="input-group-btn">

                <button class="btn btn-default" type="button"><i class="fa fa-send"></i></button>

            </span>

                </div>

            </form>

            <hr class="hidden-md hidden-lg hidden-sm">
-->
        </div>
        <!-- /.col-md-3 -->
<!--
        <div class="col-md-3 col-sm-6">

            <h4>Blog</h4>

            <div class="blog-entries">
                <div class="item same-height-row clearfix">
                    <div class="image same-height-always">
                        <a href="#">
                            <img class="img-responsive" src="img/detailsquare.jpg" alt="">
                        </a>
                    </div>
                    <div class="name same-height-always">
                        <h5><a href="#">Blog post name</a></h5>
                    </div>
                </div>

                <div class="item same-height-row clearfix">
                    <div class="image same-height-always">
                        <a href="#">
                            <img class="img-responsive" src="img/detailsquare.jpg" alt="">
                        </a>
                    </div>
                    <div class="name same-height-always">
                        <h5><a href="#">Blog post name</a></h5>
                    </div>
                </div>

                <div class="item same-height-row clearfix">
                    <div class="image same-height-always">
                        <a href="#">
                            <img class="img-responsive" src="img/detailsquare.jpg" alt="">
                        </a>
                    </div>
                    <div class="name same-height-always">
                        <h5><a href="#">Very very long blog post name</a></h5>
                    </div>
                </div>
            </div>

            <hr class="hidden-md hidden-lg">

        </div>
      -->
        <!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6">

            <h4>Contact</h4>

            <p><strong>Franklin County Circuit Hackers</strong>
                <br>
                <br>
                <br>
                <br>Farmington, Franklin County
                <br>Maine
                <strong>USA</strong>
            </p>

<!--            <a href="contact.html" class="btn btn-small btn-template-main">Go to contact page</a> -->

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-3 -->


        <div class="col-md-3 col-sm-6">
          <img src="img/logo-vert-med.png">
        </div>
<!--
        <div class="col-md-3 col-sm-6">

            <h4>Photostream</h4>

            <div class="photostream">
                <div>
                    <a href="#">
                        <img src="img/detailsquare.jpg" class="img-responsive" alt="#">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="img/detailsquare2.jpg" class="img-responsive" alt="#">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="img/detailsquare3.jpg" class="img-responsive" alt="#">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="img/detailsquare3.jpg" class="img-responsive" alt="#">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="img/detailsquare2.jpg" class="img-responsive" alt="#">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="img/detailsquare.jpg" class="img-responsive" alt="#">
                    </a>
                </div>
            </div>

        </div>
-->
        <!-- /.col-md-3 -->
    </div>
    <!-- /.container -->
</footer>
<!-- /#footer -->


<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            <p class="pull-left">&copy; Franklin County Circuit Hackers</p>
            <p class="pull-right">Site based upon template by <a href="https://bootstrapious.com">Bootstrapious</a> & <a href="https://remoteplease.com">Remote Please</a>
                 <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
            </p>

        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
